@import "../../styles.scss";

form {
  margin: 0 auto;
  max-width: 25rem;
}

.form-field {
  padding: 12px 20px 12px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;

  &.ng-invalid.ng-touched {
    border: 2px solid red;
  }
}

label {
  display: block;
  margin-top: 1rem;

  display: block;
  margin-bottom: 0.5rem;
}

.form-field-hint {
  display: block;
  color: #3c3c3c;
}

.form-actions {
  margin-top: 1rem;
}

button[type="submit"] {
  background-color: $primary-color-invert;
  color: $primary-color;
  border: solid 3px $primary-color;
  padding: $xxs-spacing;
  width: 100%;
  height: $m-spacing;
  font-size: $s-font;
  margin-top: $xs-spacing;

  &:hover {
    background-color: $background-light;
  }

  &:disabled {
    background-color: $primary-color-invert;
    border: solid 3px $background-light;
  }
}
