<h1>New book</h1>

<!-- Angular focus 8: ngSubmit submits on enter, but mind asynch validation! -->
<form [formGroup]="newForm" (ngSubmit)="create()">
  <!-- Explicite labels are the best -->
  <label>
    <!-- Angular focus 9: validation -->
    <!-- DISCUSSION: Star or required?-->
    ISBN (required)
  </label>
  <input
    autofocus
    class="form-field"
    [attr.aria-invalid]="
      !newForm.get('isbn')?.pristine && newForm.get('isbn')?.invalid
    "
    aria-describedby="isbn-error"
    formControlName="isbn"
  />

  @if ( newForm.get('isbn')?.touched && newForm.get('isbn')?.invalid ) {
  <small id="isbn-error" tabindex="0" class="form-field-hint">
    Please insert an ISBN.
  </small>
  }

  <label for="title" id="title-label">Title (required)</label>
  <input
    class="form-field"
    id="title"
    formControlName="title"
    aria-describedby="title-error"
  />

  <!-- Angular focus 10: *ngIf + touched
  Resource: https://coryrylan.com/blog/build-accessible-forms-with-angular
  DISCUSSION: Single or all at once?-->
  @if ( newForm.get('title')?.touched &&
  newForm.get('title')?.hasError('required') ) {
  <small id="title-error" class="form-field-hint">
    Please insert a title.
  </small>
  }

  <label for="author"> Author </label>
  <input class="form-field" id="author" formControlName="author" />

  <label for="cover">Cover-URL</label>
  <input class="form-field" id="cover" formControlName="cover" />

  <label for="abstract"> Abstract </label>
  <input class="form-field" id="abstract" formControlName="abstract" />
  <!--DICUSSION: To disable or not to disable?
  Alternative: https://medium.com/@svinkle/creating-accessible-forms-with-angular-simply-accessible-c1bc362cf89e
  https://www.thisdot.co/blog/make-it-accessible-dealing-with-form-errors-in-angular-->
  <div class="form-actions">
    <button type="submit" [disabled]="newForm.invalid">Add a new book</button>
  </div>
</form>
