<h1>New book</h1>

<!-- Angular focus 8: ngSubmit submits on enter, but mind asynch validation! -->
<form (ngSubmit)="create()">
  <!-- Explicite labels are the best -->
  <label>
    <!-- Angular focus 9: validation -->
    <!-- DISCUSSION: Star or required?-->
    ISBN (required)
  </label>
  <input
    autofocus
    class="form-field"
    [aria-invalid]="form.isbn().touched() && form.isbn().invalid()"
    aria-describedby="isbn-error"
    [formField]="form.isbn"
  />

  @if ( form.isbn().touched() && form.isbn().invalid() ) {
  <small id="isbn-error" tabindex="0" class="form-field-hint">
    Please insert an ISBN.
  </small>
  }

  <label for="title" id="title-label">Title (required)</label>
  <input
    class="form-field"
    id="title"
    [formField]="form.title"
    aria-describedby="title-error"
  />

  <!-- Angular focus 10: *ngIf + touched
  Resource: https://coryrylan.com/blog/build-accessible-forms-with-angular
  DISCUSSION: Single or all at once?-->
  @if ( form.title().touched() && form.title().invalid() ) { @for (error of
  form.title().errors(); track error) {
  <small id="title-error" class="form-field-hint">
    {{ error.message }}
  </small>
  } }

  <label for="author"> Author </label>
  <input class="form-field" id="author" [formField]="form.author" />

  <label for="cover">Cover-URL</label>
  <input class="form-field" id="cover" [formField]="form.cover" />

  <label for="abstract"> Abstract </label>
  <input class="form-field" id="abstract" [formField]="form.abstract" />
  <!--DICUSSION: To disable or not to disable?
  Alternative: https://medium.com/@svinkle/creating-accessible-forms-with-angular-simply-accessible-c1bc362cf89e
  https://www.thisdot.co/blog/make-it-accessible-dealing-with-form-errors-in-angular-->
  <div class="form-actions">
    <button type="submit" [disabled]="form().invalid()">Add a new book</button>
  </div>
</form>
