@import "../../styles.scss";

.desktop-navigation {
  grid-column: 1;
  align-self: center;
  display: inline-block;

  .desktop-navigation__links {
    list-style-type: none;
    padding-inline-start: 0;
    display: inline-block;
  }
}

.navigation-item {
  display: inline-block;
  padding: $xxs-spacing $xs-spacing;

  &:first-child {
    padding-left: 0;
  }

  &[aria-current="page"] {
    text-decoration: underline 3px;
    text-underline-offset: $xxs-spacing;
  }
}

.navigation-item a {
  font-size: $xs-font;
  font-weight: bold;
  color: $primary-color;
  text-decoration: none;
}

// https://angular.io/api/router/RouterLinkActive
.active-link {
  text-decoration: underline 3px;
  text-underline-offset: $xxs-spacing;
}

/* tablet breakpoint */
@media screen and (max-width: $tablet) {
  .desktop-navigation {
    display: none;
  }
}
