<!--We need a navigation, not a menu bar - see "Caution" box-->
<!--https://www.w3.org/WAI/ARIA/apg/patterns/menubar/examples/menubar-navigation/-->
<!--Hamburger navigation menu-->

<!--Accessible desktop navigation-->
<div class="desktop-navigation">
  @for (menuItem of menuItems; track menuItem) {
  <div class="desktop-navigation__links">
    <div
      class="navigation-item"
      routerLinkActive="active-link"
      ariaCurrentWhenActive="page"
    >
      <a [routerLink]="menuItem.url">{{ menuItem.title }}</a>
    </div>
  </div>
  }
</div>
